<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="lyxpay"
        version="1.0.0">
  <name>lyxpay</name>
  <license>MIT license</license>
  <description>支付宝&微信支付Cordova插件</description>
  <keywords>cordova alipay 支付宝 微信支付 wechatpay</keywords>
  <repo>https://github.com/hzjianshi/ionic2-cordova-plugin-pay</repo>
  <issue>https://github.com/hzjianshi/ionic2-cordova-plugin-pay/issues</issue>
  <preference name="WX_APP_ID"/>
  <preference name="ALIPAY_APP_ID"/>
  <js-module src="www/lyxpay.js" name="lyxpay">
    <runs/>
    <clobbers target="lyxpay"/>
  </js-module>
  
  <!-- android -->
  <platform name="android">
    <hook type="after_plugin_add" src="scripts/android-install.js" />
    <hook type="after_plugin_install" src="scripts/android-install.js" />
    <hook type="before_plugin_rm" src="scripts/android-install.js" />
    <hook type="before_plugin_uninstall" src="scripts/android-install.js" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Lyxpay">
        <param name="android-package" value="com.lyx.pay.PayFactory"/>
      </feature>
      <preference name="WX_APP_ID" value="$WX_APP_ID" />
      <preference name="ALIPAY_APP_ID" value="$ALIPAY_APP_ID" />
    </config-file>
    <source-file src="src/android/PayFactory.java" target-dir="src/com/lyx/pay"/>
    <source-file src="src/android/Pay.java" target-dir="src/com/lyx/pay"/>
    <source-file src="src/android/ali/Alipay.java" target-dir="src/com/lyx/pay/ali"/>
    <source-file src="src/android/ali/PayResult.java" target-dir="src/com/lyx/pay/ali"/>
    <source-file src="src/android/wx/Wxpay.java" target-dir="src/com/lyx/pay/wx"/>
    <source-file src="src/android/libs/alipaySdk-20160825.jar" target-dir="libs"/>
    <source-file src="src/android/libs/libammsdk.jar" target-dir="libs"/>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="com.lyx.pay.wx.AppRegister">
        <intent-filter> <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/> </intent-filter>
      </receiver>
      <activity android:name=".wxapi.WXPayEntryActivity" android:exported="true" android:screenOrientation="portrait"/>
    </config-file>
  </platform>
  
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Lyxpay">
        <param name="ios-package" value="Lyxpay"/>
      </feature>
      <preference name="WX_APP_ID" value="$WX_APP_ID" />
      <preference name="ALIPAY_APP_ID" value="$ALIPAY_APP_ID" />
    </config-file>
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLName</key>
          <string>weixin</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$WX_APP_ID</string>
          </array>
        </dict>
        <dict>
          <key>CFBundleURLName</key>
          <string>alipay</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>alipay$ALIPAY_APP_ID</string>
          </array>
        </dict>
      </array>
    </config-file>
    <header-file src="src/ios/Lyxpay.h"/>
    <source-file src="src/ios/Lyxpay.m"/>
    <header-file src="src/ios/Pay/SDKExport/WXApi.h"/>
    <source-file src="src/ios/Pay/SDKExport/WXApiObject.h"/>
    <framework src="src/ios/lib/AlipaySDK.framework" custom="true"/>
    <framework src="CoreTelephony.framework" weak="true"/>
    <framework src="Security.framework" weak="true"/>
    <framework src="SystemConfiguration.framework" weak="true"/>
    <framework src="QuartzCore.framework" weak="true"/>
    <framework src="CoreText.framework" weak="true"/>
    <framework src="CoreGraphics.framework" weak="true"/>
    <framework src="UIKit.framework" weak="true"/>
    <framework src="Foundation.framework" weak="true"/>
    <framework src="CFNetwork.framework" weak="true"/>
    <framework src="CoreMotion.framework" weak="true"/>
    <framework src="libc++.tbd" weak="true"/>
    <framework src="libz.tbd" weak="true"/>
    <framework src="libsqlite3.0.tbd" weak="true"/>
    <source-file src="src/ios/Pay/SDKExport/libWeChatSDK.a" framework="true"/>
  </platform>
</plugin>
